.L9P5p4S4XIZ3JsqbrDkD {
  border: 0;
  left: -1px;
  position: fixed;
  top: -1px;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ax7u28SZI7aqpsmMjRnF {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--cdr-link-text-color, var(--cdr-color-text-link-rest, #406eb5));
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  fill: var(--cdr-link-fill-color, var(--cdr-color-text-link-rest, #406eb5));
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  text-decoration: underline;
  vertical-align: top;
}
.ax7u28SZI7aqpsmMjRnF:active,
.ax7u28SZI7aqpsmMjRnF:focus {
  color: var(
    --cdr-link-active-text-color-active,
    var(--cdr-color-text-link-active, #0b2d60)
  );
}
.ax7u28SZI7aqpsmMjRnF:hover {
  color: var(
    --cdr-link-text-color-hover,
    var(--cdr-color-text-link-hover, #406eb5)
  );
  text-decoration: none;
}
.ax7u28SZI7aqpsmMjRnF:focus {
  outline: 0.2rem solid Highlight;
  outline-color: -webkit-focus-ring-color;
  outline-offset: 0;
}
.ax7u28SZI7aqpsmMjRnF svg {
  fill: inherit;
}
.ax7u28SZI7aqpsmMjRnF a.ax7u28SZI7aqpsmMjRnF:active,
.ax7u28SZI7aqpsmMjRnF a.ax7u28SZI7aqpsmMjRnF:focus,
.ax7u28SZI7aqpsmMjRnF a.ax7u28SZI7aqpsmMjRnF:hover {
  text-decoration: underline;
}
.j0dAup25lZ832Gj8nhMv {
  display: inline-block;
  font-family: Stuart, Stuart fallback, Georgia, serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 3.2rem;
  margin-bottom: 0;
  word-break: break-word;
}
@media (min-width: 768px) {
  .j0dAup25lZ832Gj8nhMv {
    font-family: Stuart, Stuart fallback, Georgia, serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 3.6rem;
  }
  body .gDSG8trk5qz1xp1wbExn {
    display: none;
  }
}
@media (max-width: 767px) {
  body .zgt983MB_q4nIxDHaBjY {
    display: none;
  }
}
.YuSuaiVyhryVWJAAAdvV {
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
  overflow-x: hidden;
  width: 100%;
}
.z09cNVdsnd90rZmKzvNn {
  margin: 1.6rem 0 3.2rem;
}
.EShToq3qqZtqxpVeLwdT {
  margin: 0 0 3.2rem;
}
.SpKoCjnuFl8t70WZBn9q {
  margin: auto;
}
.ax7u28SZI7aqpsmMjRnF {
  display: block;
  margin-bottom: 1.6rem;
}
.Y5_vc_dT89AJm0r0Nv8M {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2.6rem;
}
.YqGSljJV5Cxy5UMowMsY {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  left: -1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: -1px;
  width: 1px;
}
@media (min-width: 768px) {
  body .iaLPYfsxxE0wCcE7c_TX {
    display: none;
  }
}
@media (max-width: 767px) {
  body .ksKvIl8ToOpdiZSJmgzW {
    display: none;
  }
}
.v4QDVuc56aCol_CJZV7X {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.v4QDVuc56aCol_CJZV7X .RdjaC8i94dbXZ_xT5SqA {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  bottom: 0;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.r6s2w2_gwqQQWzAeKLow {
  background-color: rgba(41, 41, 41, 0.5);
  border-top-right-radius: 0.2rem;
  color: rgba(12, 11, 8, 0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 33%;
}
.g5gIqjQsNHUn6AgP0y0A {
  font-family: Stuart, Stuart fallback, Georgia, serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 4.4rem;
  width: 100%;
}
.JivcCf4ePBxwuDgLJcyN {
  display: block;
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
  line-height: 1.8rem;
}
.w2_dULRICXGM5a8AAudM {
  overflow: hidden;
  padding: 1.6rem 1.6rem 2.4rem;
}
.tvfngXJctJpReocw21dP {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.08px;
  line-height: 1.6rem;
}
.ELwpebSBlmTYhsj0yMFM {
  color: rgba(12, 11, 8, 0.75);
  font-family: Stuart, Stuart fallback, Georgia, serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2rem;
  margin: 1.2rem 0 0;
}
.Zwd_xJsrWl1jO45JvV9P {
  background-color: #fff;
  border: 1px solid #d1cbbd;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.05rem 0 #efeee2;
  box-sizing: border-box;
  display: block;
  height: 100%;
  position: relative;
  transform: translateY(0);
  transition: 0.2s;
  width: 100%;
}
.Zwd_xJsrWl1jO45JvV9P:link {
  color: rgba(12, 11, 8, 0.75);
  text-decoration: none;
}
.Zwd_xJsrWl1jO45JvV9P:active,
.Zwd_xJsrWl1jO45JvV9P:focus,
.Zwd_xJsrWl1jO45JvV9P:hover {
  background-color: #fefdfa;
  box-shadow: 0 0.2rem 0.1rem 0.1rem #fafaf6;
  text-decoration: none;
  transform: translateY(-0.2rem);
  transition: 0.2s;
}
.Zwd_xJsrWl1jO45JvV9P:active .ELwpebSBlmTYhsj0yMFM,
.Zwd_xJsrWl1jO45JvV9P:focus .ELwpebSBlmTYhsj0yMFM,
.Zwd_xJsrWl1jO45JvV9P:hover .ELwpebSBlmTYhsj0yMFM {
  text-decoration: underline;
}
.Zwd_xJsrWl1jO45JvV9P .w2_dULRICXGM5a8AAudM {
  border: 0;
  border-radius: 0.2rem;
  width: 100%;
}
.TwYqbna04o6yBFRtEgZS {
  margin-top: 1.6rem;
}
.E9jNudoSEmv1b6PDYqrL {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  left: -1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: -1px;
  width: 1px;
}
@media (min-width: 768px) {
  body .N6dFOjh4Wn27brbpD6kx {
    display: none;
  }
}
@media (max-width: 767px) {
  body .EJOJmNP_O3dVL45rm0Qy {
    display: none;
  }
}
.JmSd9OotdFosCQucfHgw {
  overflow: hidden;
}
.a3loSnN19b3QcFtAvjjA {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -2.4rem -2.4rem;
  padding-left: 2.4rem;
  width: calc(100% + 4.8rem);
}
.a3loSnN19b3QcFtAvjjA > li {
  border: 0 solid transparent;
  border-width: 0 2.4rem 2.4rem 0;
  width: 100%;
}
.Jw_bqHpcRelTxTnNEoK5 {
  margin-left: 0;
}
.Jw_bqHpcRelTxTnNEoK5:before {
  display: none;
}
@media (min-width: 768px) {
  .a3loSnN19b3QcFtAvjjA > li {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .a3loSnN19b3QcFtAvjjA > li {
    width: 33.33333%;
  }
}
.mxARjxw3m_FX1hroUSSZ {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  left: -1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: -1px;
  width: 1px;
}
@media (min-width: 768px) {
  body .khonhHDkGCUo82JSyvIp {
    display: none;
  }
}
@media (max-width: 767px) {
  body .y4GxN05ArafujADzMWpE {
    display: none;
  }
}
.ux9c_3fuROqqjjlJIPkA {
  font-family: Stuart, Stuart fallback, Georgia, serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 3rem;
}
.IKZ33W4o6FJePccK0d16 {
  left: -1px;
  position: fixed;
  top: -1px;
}
.vvbVPSlq1qQcbhH2znBT {
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0.8rem 1.6rem;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  transition: box-shadow 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    background-color 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    color 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    fill 0.2s cubic-bezier(0.15, 0, 0.15, 0);
  vertical-align: middle;
}
.vvbVPSlq1qQcbhH2znBT:active,
.vvbVPSlq1qQcbhH2znBT:focus,
.vvbVPSlq1qQcbhH2znBT:hover {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}
[disabled].vvbVPSlq1qQcbhH2znBT {
  cursor: not-allowed;
}
.vvbVPSlq1qQcbhH2znBT {
  background-color: var(
    --cdr-button-secondary-background-color-rest,
    var(--cdr-color-background-button-secondary-rest, #f9f8f6)
  );
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-button-secondary-box-shadow-color-rest,
      var(--cdr-color-border-button-secondary-rest, #928b80)
    );
  color: var(
    --cdr-button-secondary-text-color,
    var(--cdr-color-text-button-secondary, #4e4d49)
  );
  fill: var(
    --cdr-button-secondary-fill-color,
    var(--cdr-color-icon-default, #928b80)
  );
}
.vvbVPSlq1qQcbhH2znBT:focus,
.vvbVPSlq1qQcbhH2znBT:hover {
  color: var(
    --cdr-button-secondary-text-color-interaction,
    var(--cdr-color-text-button-secondary-hover, #4e4d49)
  );
  fill: var(
    --cdr-button-secondary-fill-color-interaction,
    var(--cdr-color-text-button-secondary-hover, #4e4d49)
  );
  background-color: var(
    --cdr-button-secondary-background-color-interaction,
    var(--cdr-color-background-button-secondary-hover, #f4f2ed)
  );
  box-shadow: inset 0 0 0 3px
      var(
        --cdr-button-secondary-box-shadow-color-interaction,
        var(--cdr-color-border-button-secondary-hover, #4e4d49)
      ),
    0 0.2rem 0.2rem 0 rgba(12, 11, 8, 0.2);
}
.vvbVPSlq1qQcbhH2znBT:active {
  color: var(
    --cdr-button-secondary-text-color-active,
    var(--cdr-color-text-button-secondary-active, #f9f8f6)
  );
  fill: var(
    --cdr-button-secondary-fill-color-active,
    var(--cdr-color-text-button-secondary-active, #f9f8f6)
  );
  background-color: var(
    --cdr-button-secondary-background-color-active,
    var(--cdr-color-background-button-secondary-active, #928b80)
  );
  box-shadow: inset 0 0 0 3px
      var(
        --cdr-button-secondary-box-shadow-color-active,
        var(--cdr-color-border-button-secondary-active, #928b80)
      ),
    inset 0 0 0 5px
      var(
        --cdr-button-secondary-border-color-active-inset,
        var(--cdr-color-border-button-secondary-active-inset, #f4f2ed)
      );
}
[disabled].vvbVPSlq1qQcbhH2znBT {
  background-color: var(
    --cdr-button-secondary-background-color-disabled,
    var(--cdr-color-background-button-secondary-disabled, #f9f8f6)
  );
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-button-secondary-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled, #dcd6cb)
    );
  color: var(
    --cdr-button-secondary-text-color-disabled,
    var(--cdr-color-text-button-secondary-disabled, #d1cbbd)
  );
  fill: var(
    --cdr-button-secondary-fill-color-disabled,
    var(--cdr-color-text-button-secondary-disabled, #d1cbbd)
  );
}
.vvbVPSlq1qQcbhH2znBT {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.08px;
  line-height: 18px;
  padding: 0.6rem 1.2rem;
  width: auto;
}
.j2Qa07X07OY4mDUP3QQw.vvbVPSlq1qQcbhH2znBT {
  padding-left: 0.8rem;
}
.JWuD9YorQ21eQyut28aQ.vvbVPSlq1qQcbhH2znBT {
  padding-right: 0.8rem;
}
.vvbVPSlq1qQcbhH2znBT svg {
  height: 20px;
  width: 20px;
}
.IKZ33W4o6FJePccK0d16 {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.bIe0vcw_lDGUqzRZa4rC {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--cdr-link-text-color, var(--cdr-color-text-link-rest, #406eb5));
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  fill: var(--cdr-link-fill-color, var(--cdr-color-text-link-rest, #406eb5));
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  text-decoration: underline;
  vertical-align: top;
}
.bIe0vcw_lDGUqzRZa4rC:active,
.bIe0vcw_lDGUqzRZa4rC:focus {
  color: var(
    --cdr-link-active-text-color-active,
    var(--cdr-color-text-link-active, #0b2d60)
  );
}
.bIe0vcw_lDGUqzRZa4rC:hover {
  color: var(
    --cdr-link-text-color-hover,
    var(--cdr-color-text-link-hover, #406eb5)
  );
  text-decoration: none;
}
.bIe0vcw_lDGUqzRZa4rC:focus {
  outline: 0.2rem solid Highlight;
  outline-color: -webkit-focus-ring-color;
  outline-offset: 0;
}
.bIe0vcw_lDGUqzRZa4rC svg {
  fill: inherit;
}
.bIe0vcw_lDGUqzRZa4rC a.bIe0vcw_lDGUqzRZa4rC:active,
.bIe0vcw_lDGUqzRZa4rC a.bIe0vcw_lDGUqzRZa4rC:focus,
.bIe0vcw_lDGUqzRZa4rC a.bIe0vcw_lDGUqzRZa4rC:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  body .YanPKX3fbz_Gt3Qc3OF0 {
    display: none;
  }
}
@media (max-width: 767px) {
  body .FFQsTKTODZuXtaNadkqa {
    display: none;
  }
}
.y3LEhLPMU8K8dYDyurKe {
  font-family: Stuart, Stuart fallback, Georgia, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 2.6rem;
  margin: 0;
  padding: 0;
}
.j5teAouHJBnDi01U9ul7 {
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;
  max-width: 1200px;
  padding: 0 1.6rem;
  position: fixed;
  right: 0;
  z-index: 999;
}
@media (min-width: 768px) {
  .j5teAouHJBnDi01U9ul7 {
    display: block;
  }
}
.vvbVPSlq1qQcbhH2znBT {
  justify-content: space-around;
}
.vvbVPSlq1qQcbhH2znBT[disabled] {
  color: #d1cbbd;
  cursor: not-allowed;
  text-decoration: none;
}
.bIe0vcw_lDGUqzRZa4rC {
  text-decoration: none;
}
.W52CDmXo3pZ0AAvyHayl {
  background-color: #fff;
  border: solid #dcd6cb;
  border-width: 1px 1px 0;
}
._tThR9QJodhYhyAIW86F {
  align-items: center;
  display: flex;
  margin-left: 4rem;
}
.DQJr2Qeg7ZszE30ztm9P {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.DQJr2Qeg7ZszE30ztm9P li {
  margin-right: 30px;
}
.DJfQDk5CF8MbYiKGFr0g {
  height: 90px;
  position: relative;
  width: 90px;
}
.DJfQDk5CF8MbYiKGFr0g img {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}
.KEAeQ6nIsMCRAUkt08Lf {
  background: none;
  border: 0;
  margin: 0;
  padding: 2rem 0 0;
  width: 100%;
}
.FQYASUCrQO2Yje7MbXme {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.FQYASUCrQO2Yje7MbXme > :nth-child(2) {
  justify-content: center;
  margin-top: 1.6rem;
}
.uZ4G6QXAQ5IDRdIOcQsV {
  left: -1px;
  position: fixed;
  top: -1px;
}
.c8yYT_Ihd1R4PLmBPfq7 button,
.yTZcbQUjGbURzkPLjaV4 button {
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0.8rem 1.6rem;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  transition: box-shadow 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    background-color 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    color 0.2s cubic-bezier(0.15, 0, 0.15, 0),
    fill 0.2s cubic-bezier(0.15, 0, 0.15, 0);
  vertical-align: middle;
}
.c8yYT_Ihd1R4PLmBPfq7 button:active,
.c8yYT_Ihd1R4PLmBPfq7 button:focus,
.c8yYT_Ihd1R4PLmBPfq7 button:hover,
.yTZcbQUjGbURzkPLjaV4 button:active,
.yTZcbQUjGbURzkPLjaV4 button:focus,
.yTZcbQUjGbURzkPLjaV4 button:hover {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}
.c8yYT_Ihd1R4PLmBPfq7 button[disabled],
.yTZcbQUjGbURzkPLjaV4 button[disabled] {
  cursor: not-allowed;
}
.c8yYT_Ihd1R4PLmBPfq7 button,
.yTZcbQUjGbURzkPLjaV4 button {
  background-color: var(
    --cdr-button-secondary-background-color-rest,
    var(--cdr-color-background-button-secondary-rest, #f9f8f6)
  );
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-button-secondary-box-shadow-color-rest,
      var(--cdr-color-border-button-secondary-rest, #928b80)
    );
  color: var(
    --cdr-button-secondary-text-color,
    var(--cdr-color-text-button-secondary, #4e4d49)
  );
  fill: var(
    --cdr-button-secondary-fill-color,
    var(--cdr-color-icon-default, #928b80)
  );
}
.c8yYT_Ihd1R4PLmBPfq7 button:focus,
.c8yYT_Ihd1R4PLmBPfq7 button:hover,
.yTZcbQUjGbURzkPLjaV4 button:focus,
.yTZcbQUjGbURzkPLjaV4 button:hover {
  color: var(
    --cdr-button-secondary-text-color-interaction,
    var(--cdr-color-text-button-secondary-hover, #4e4d49)
  );
  fill: var(
    --cdr-button-secondary-fill-color-interaction,
    var(--cdr-color-text-button-secondary-hover, #4e4d49)
  );
  background-color: var(
    --cdr-button-secondary-background-color-interaction,
    var(--cdr-color-background-button-secondary-hover, #f4f2ed)
  );
  box-shadow: inset 0 0 0 3px
      var(
        --cdr-button-secondary-box-shadow-color-interaction,
        var(--cdr-color-border-button-secondary-hover, #4e4d49)
      ),
    0 0.2rem 0.2rem 0 rgba(12, 11, 8, 0.2);
}
.c8yYT_Ihd1R4PLmBPfq7 button:active,
.yTZcbQUjGbURzkPLjaV4 button:active {
  color: var(
    --cdr-button-secondary-text-color-active,
    var(--cdr-color-text-button-secondary-active, #f9f8f6)
  );
  fill: var(
    --cdr-button-secondary-fill-color-active,
    var(--cdr-color-text-button-secondary-active, #f9f8f6)
  );
  background-color: var(
    --cdr-button-secondary-background-color-active,
    var(--cdr-color-background-button-secondary-active, #928b80)
  );
  box-shadow: inset 0 0 0 3px
      var(
        --cdr-button-secondary-box-shadow-color-active,
        var(--cdr-color-border-button-secondary-active, #928b80)
      ),
    inset 0 0 0 5px
      var(
        --cdr-button-secondary-border-color-active-inset,
        var(--cdr-color-border-button-secondary-active-inset, #f4f2ed)
      );
}
.c8yYT_Ihd1R4PLmBPfq7 button[disabled],
.yTZcbQUjGbURzkPLjaV4 button[disabled] {
  background-color: var(
    --cdr-button-secondary-background-color-disabled,
    var(--cdr-color-background-button-secondary-disabled, #f9f8f6)
  );
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-button-secondary-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled, #dcd6cb)
    );
  color: var(
    --cdr-button-secondary-text-color-disabled,
    var(--cdr-color-text-button-secondary-disabled, #d1cbbd)
  );
  fill: var(
    --cdr-button-secondary-fill-color-disabled,
    var(--cdr-color-text-button-secondary-disabled, #d1cbbd)
  );
}
.c8yYT_Ihd1R4PLmBPfq7 button,
.yTZcbQUjGbURzkPLjaV4 button {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.08px;
  line-height: 18px;
  padding: 0.6rem 1.2rem;
  width: auto;
}
.c8yYT_Ihd1R4PLmBPfq7 button._Lj2dwcrB3fTSI42Ntja,
.yTZcbQUjGbURzkPLjaV4 button._Lj2dwcrB3fTSI42Ntja {
  padding-left: 0.8rem;
}
.c8yYT_Ihd1R4PLmBPfq7 button.qY5_NENW7cbrsQ6LrNNL,
.yTZcbQUjGbURzkPLjaV4 button.qY5_NENW7cbrsQ6LrNNL {
  padding-right: 0.8rem;
}
.c8yYT_Ihd1R4PLmBPfq7 button svg,
.yTZcbQUjGbURzkPLjaV4 button svg {
  height: 20px;
  width: 20px;
}
.uZ4G6QXAQ5IDRdIOcQsV {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@media (min-width: 768px) {
  body .QSPiClQvog4rczyTZs1b {
    display: none;
  }
}
@media (max-width: 767px) {
  body .x8tv6pb1DVWCrXxN6eyt {
    display: none;
  }
}
.A9d6Tz9TkRWgTlFu55qj {
  background: #fff;
  border: 0.8rem solid #f4f2ed;
  display: grid;
  grid-row: span 12;
  grid-template-rows: subgrid;
  padding: 1.2rem 1.2rem 1.6rem;
  row-gap: 0;
  width: 100%;
}
.A9d6Tz9TkRWgTlFu55qj .AoiO3gMJUIlU7PzQkAXr {
  display: none;
}
.ZgqG3ecTB6hVzKOKH1v5 {
  border-radius: 2.4rem;
}
.cOUZjl05N1PkGZzN3mH5 {
  pointer-events: none;
  position: relative;
}
@media (min-width: 768px) {
  .cOUZjl05N1PkGZzN3mH5 {
    padding-bottom: 1.2rem !important;
  }
}
.cOUZjl05N1PkGZzN3mH5:before {
  border: 1px solid #dcd6cb;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.cOUZjl05N1PkGZzN3mH5 > * {
  pointer-events: auto;
}
@media (max-width: 1199px) {
  .A9d6Tz9TkRWgTlFu55qj {
    padding: 0.8rem 0.8rem 1.6rem;
  }
}
.Ta917YWX5fq5gTMB7NWq {
  display: flex;
  flex-direction: column;
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
  line-height: 1.8rem;
  position: relative;
  text-align: left;
  width: 100%;
}
.Ta917YWX5fq5gTMB7NWq,
.Ta917YWX5fq5gTMB7NWq:active,
.Ta917YWX5fq5gTMB7NWq:focus,
.Ta917YWX5fq5gTMB7NWq:hover {
  color: rgba(12, 11, 8, 0.75);
  text-decoration: none;
}
.Ta917YWX5fq5gTMB7NWq:active .bTrKkmPS5RG5C08m_2sw,
.Ta917YWX5fq5gTMB7NWq:active .wesRJWmHqiG2c4VAx8j3,
.Ta917YWX5fq5gTMB7NWq:focus .bTrKkmPS5RG5C08m_2sw,
.Ta917YWX5fq5gTMB7NWq:focus .wesRJWmHqiG2c4VAx8j3,
.Ta917YWX5fq5gTMB7NWq:hover .bTrKkmPS5RG5C08m_2sw,
.Ta917YWX5fq5gTMB7NWq:hover .wesRJWmHqiG2c4VAx8j3 {
  text-decoration: underline;
}
.dJNQPdidluWLMvNu5hJm {
  outline-offset: 0.15rem !important;
}
.VK2M4046Nj1_W2HWPYXQ {
  background-color: #fff;
  height: 97%;
  left: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
}
@media (hover: hover) and (pointer: fine) {
  .VK2M4046Nj1_W2HWPYXQ {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 0.4s;
  }
}
@media (min-width: 768px) {
  .VK2M4046Nj1_W2HWPYXQ {
    padding: 0.8rem;
  }
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .VK2M4046Nj1_W2HWPYXQ {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
}
@media (hover: hover) and (pointer: fine) {
  .bv15etqE4VXVeSYJaUWz:hover {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 0.4s;
  }
}
.o0eIBKimzEvbL5Jlf0Lr {
  height: 0;
  padding-top: 100%;
  position: relative;
  width: 100%;
}
.ms_CH_0IiWvItypEl8fT {
  cursor: pointer;
  display: flex;
  justify-content: left;
  margin-top: 0.4rem;
  padding-bottom: 0.8rem;
  width: 100%;
}
.HaaRy5OjrYDHwf4BSapT,
.ms_CH_0IiWvItypEl8fT {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
  line-height: 1.8rem;
}
.HaaRy5OjrYDHwf4BSapT {
  color: rgba(66, 59, 47, 0.75);
  font-size: 1.2rem;
  margin: 0.4rem 0 0.8rem;
}
.KzMd3KzdzkZMzM9JUnXw {
  margin-bottom: 0.8rem;
}
.wesRJWmHqiG2c4VAx8j3 {
  font-weight: 600;
  letter-spacing: -0.08px;
  margin: 0.4rem 0 0;
}
.bTrKkmPS5RG5C08m_2sw,
.wesRJWmHqiG2c4VAx8j3 {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.8rem;
}
.bTrKkmPS5RG5C08m_2sw {
  display: block;
  font-weight: 400;
  letter-spacing: -0.16px;
  margin: 0 0 0.8rem;
}
.LXLN3PzfQLzS6I8quIAD {
  margin: 0 0 0.8rem;
  text-align: left;
}
.AR2EJnrVaUkkhIKpV_6S {
  color: #c7370f;
}
.UwCY8gp9T1ja8vNZul3f {
  color: #c7370f;
  display: block;
}
.sApRJLyxOEc9cMauuMAM {
  text-decoration: line-through;
}
.yTZcbQUjGbURzkPLjaV4 {
  display: none;
  z-index: 1;
}
.yTZcbQUjGbURzkPLjaV4 button {
  position: relative;
}
.yTZcbQUjGbURzkPLjaV4 button:focus .gu4ncOcgU5VjUXXRLxZC,
.yTZcbQUjGbURzkPLjaV4 button:hover .gu4ncOcgU5VjUXXRLxZC {
  background-color: #4e4d49;
}
.yTZcbQUjGbURzkPLjaV4 .DYzoCUKUzM0qAXe4Auih {
  padding-right: 4.4rem;
}
.pnVrMsLNO7qs6niHcLxH {
  display: none;
  z-index: 1;
}
@media (min-width: 768px) {
  .pnVrMsLNO7qs6niHcLxH {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .pnVrMsLNO7qs6niHcLxH label {
    padding: 1rem 0.8rem 0.8rem 3.2rem;
  }
}
.pUkBP6pLRPuuj6jvB69Q {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
  line-height: 1.8rem;
  width: 100%;
}
.RHECcBQZWyLTlKvwT8lj {
  align-items: left;
  cursor: pointer;
  justify-content: flex-end;
  margin-bottom: 0.8rem;
}
.GNZ_CEd2C02T10Kbq3f8,
.RHECcBQZWyLTlKvwT8lj {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.GNZ_CEd2C02T10Kbq3f8 {
  align-items: start;
}
.GPZvH_H0_BwKc9xGtdpe {
  align-items: center;
  background-color: #1f513f;
  border-end-end-radius: 1.2rem;
  border-end-start-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 -1.2rem -1.6rem;
  padding: 0.8rem;
  width: auto;
}
@media (max-width: 1199px) {
  .GPZvH_H0_BwKc9xGtdpe {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
}
.GPZvH_H0_BwKc9xGtdpe [class*="cdr-label-wrapper--small"] {
  font-weight: 500;
}
.GPZvH_H0_BwKc9xGtdpe .BdiwYza6ruVuVWLaeQm7 {
  color: #f9f8f6;
  font-size: 1.2rem;
  margin-top: 0.3rem;
  padding: 0 0.8rem;
}
@media (min-width: 768px) {
  .GPZvH_H0_BwKc9xGtdpe .pnVrMsLNO7qs6niHcLxH {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .GPZvH_H0_BwKc9xGtdpe
    .pnVrMsLNO7qs6niHcLxH
    [class*="cdr-checkbox"]:hover
    label {
    background-color: #184235;
  }
  .GPZvH_H0_BwKc9xGtdpe
    .pnVrMsLNO7qs6niHcLxH
    [class*="cdr-checkbox"]:hover
    [class*="cdr-label-wrapper__figure"] {
    background-color: #1f513f;
    box-shadow: 0 0 0 0.2rem #f9f8f6;
  }
  .GPZvH_H0_BwKc9xGtdpe .pnVrMsLNO7qs6niHcLxH label {
    background-color: #1f513f;
    border: none;
    color: #f9f8f6;
    padding: 1rem 0.8rem 0.8rem 3.2rem;
  }
  .GPZvH_H0_BwKc9xGtdpe
    .pnVrMsLNO7qs6niHcLxH
    label
    [class*="cdr-label-wrapper__figure"] {
    background-color: #1f513f;
    box-shadow: 0 0 0 0.1rem #f9f8f6;
  }
  .GPZvH_H0_BwKc9xGtdpe .pnVrMsLNO7qs6niHcLxH label:focus,
  .GPZvH_H0_BwKc9xGtdpe .pnVrMsLNO7qs6niHcLxH label:focus-within {
    background-color: #163b30;
    box-shadow: inset 0 0 0 0.2rem #f9f8f6;
  }
  .GPZvH_H0_BwKc9xGtdpe
    .pnVrMsLNO7qs6niHcLxH
    label:focus
    [class*="cdr-label-wrapper__figure"],
  .GPZvH_H0_BwKc9xGtdpe
    .pnVrMsLNO7qs6niHcLxH
    label:focus-within
    [class*="cdr-label-wrapper__figure"] {
    background-color: #1f513f;
    box-shadow: 0 0 0 0.2rem #f9f8f6;
  }
  .GPZvH_H0_BwKc9xGtdpe
    .pnVrMsLNO7qs6niHcLxH
    label:hover
    [class*="cdr-label-wrapper__figure"] {
    background-color: #1f513f;
    box-shadow: 0 0 0 0.2rem #f9f8f6;
  }
  .GPZvH_H0_BwKc9xGtdpe
    .pnVrMsLNO7qs6niHcLxH
    label:active
    [class*="cdr-label-wrapper__figure"],
  .GPZvH_H0_BwKc9xGtdpe
    .pnVrMsLNO7qs6niHcLxH
    label:checked
    [class*="cdr-label-wrapper__figure"] {
    background-color: #1f513f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M9.673 18.669zL19.766 6.644a1 1 0 1 0-1.532-1.286l-9.3 11.085-3.169-3.776a1 1 0 1 0-1.532 1.286l3.875 4.618a1 1 0 0 0 1.565.099z'/%3E%3C/svg%3E");
    box-shadow: 0 0 0 0.2rem #f9f8f6;
  }
}
.Up1qHpvlppsSpeS9804R {
  align-items: center;
  background-color: #f4f2ed;
  display: flex;
  flex-direction: column;
  margin: 0 -1.6rem -1.6rem;
  padding: 0.8rem 1.6rem;
  width: auto;
}
@media (min-width: 768px) {
  .Up1qHpvlppsSpeS9804R > div:first-child {
    margin-bottom: 0.4rem;
  }
}
.c8yYT_Ihd1R4PLmBPfq7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}
.c8yYT_Ihd1R4PLmBPfq7 button {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}
.fWI6oiutLZiBO7K12Blr {
  margin-bottom: 0.4rem;
}
svg.gu4ncOcgU5VjUXXRLxZC {
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  height: 3rem !important;
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem !important;
  fill: #f9f8f6;
  background-color: #928b80;
  transition: background-color 0.2s cubic-bezier(0.15, 0, 0.15, 0);
}
@media (min-width: 768px) {
  .yTZcbQUjGbURzkPLjaV4 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .YYEaT30KgErrtj4vOpMT {
    width: 100%;
  }
}
.bFZ2oYZLrpoh41CsFACQ {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.08px;
  line-height: 1.8rem;
  padding: 0 0 1rem;
  text-align: left;
}
.m5ApfavxTYbPWTwMudn9 {
  text-align: center;
  width: 100%;
}
.DejdSJEarth9eFR4Ohsh {
  align-items: start;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.RCPNwTOEQA8IHeUBvZo7 {
  cursor: pointer;
  flex-grow: 1;
  width: 100%;
}
.nhdwkkZsQPfQef1OGXwQ {
  flex-grow: 1;
}
.UIEELQG_fZP4SDvlZQPY {
  margin-left: -5%;
  position: relative;
  z-index: 8;
}
.UIEELQG_fZP4SDvlZQPY:before {
  border-bottom: 12px solid #ced1d5;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  top: 0.8rem;
}
.UIEELQG_fZP4SDvlZQPY:after {
  border-bottom: 11px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  left: 1px;
  position: absolute;
  top: 1rem;
}
.IIljuEB1Q05LOq9vgcBM {
  background-color: #fff;
  color: #c7370f;
  float: left;
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 1.8rem;
  margin-bottom: 0.4rem;
  margin-left: -1.2rem;
  position: relative;
  text-align: left;
  text-indent: 0.8rem;
  text-transform: uppercase;
  z-index: 1;
}
@media (min-width: 768px) {
  .eDYKA0RyAEfMRjJlQ6CE {
    margin-left: -1.1rem;
  }
}
.zdXx5eeTk8EFuv9Mfwx3 {
  float: left;
  width: 2rem;
}
.SvgrGEbUN2efR4Z7blCL {
  border-bottom: 4px solid #c7370f;
  width: 100%;
}
.SvgrGEbUN2efR4Z7blCL:after {
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 0 0 4px 4px;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
}
@media (max-width: 1199px) {
  .IIljuEB1Q05LOq9vgcBM {
    margin-left: -0.8rem;
  }
  .eDYKA0RyAEfMRjJlQ6CE {
    margin-left: -0.7rem;
  }
}
.pg4FZEoIZ1FmqpVNnMkp {
  border-bottom: 2px solid #1b437e;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -1.6rem;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  position: relative;
}
@media (min-width: 1200px) {
  .pg4FZEoIZ1FmqpVNnMkp {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }
}
@media (min-width: 768px) {
  .FysHAqhLunN4GbUgtqWG .XXdJxnPrg_xJzjEvlEtA {
    position: relative;
  }
}
.Q93e5dQPSCcW6WLqA5r0 {
  border-bottom: 2px solid #1b437e;
  display: flex;
  justify-content: flex-end;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  position: relative;
}
@media (min-width: 1200px) {
  .Q93e5dQPSCcW6WLqA5r0 {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }
}
@media (max-width: 767px) {
  .Fuf2LW_oGH_VeKzRAvwt {
    height: 2rem;
  }
}
.XXdJxnPrg_xJzjEvlEtA {
  border: 2px solid #1b437e;
  border-bottom: none;
  bottom: 0;
  color: #1b437e;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 2.2rem;
  letter-spacing: 1.92px;
  padding: 0 0.8rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 768px) {
  .XXdJxnPrg_xJzjEvlEtA {
    position: absolute;
  }
}
.VK2M4046Nj1_W2HWPYXQ {
  background-color: #f4f2ed;
  border: 10px solid #fff;
}
.KzMd3KzdzkZMzM9JUnXw {
  margin-top: 2.2rem;
}
.KzMd3KzdzkZMzM9JUnXw .VVx4A9KD0oTfJxJNFXeu {
  background-color: #f4f2ed;
  height: 14px;
  margin: 0 50% 5px;
  transform: translateX(-50%);
  width: 80px;
}
.KzMd3KzdzkZMzM9JUnXw .VVx4A9KD0oTfJxJNFXeu:nth-child(2) {
  width: 128.8px;
}
@media (min-width: 768px) {
  .Ta917YWX5fq5gTMB7NWq {
    margin-bottom: 4.4rem;
  }
}
.nE2Oag_ChxUF4qp8BWwi {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  left: -1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: -1px;
  width: 1px;
}
@media (min-width: 768px) {
  body .s_HCzGyJTqVVNDmON7HX {
    display: none;
  }
}
@media (max-width: 767px) {
  body .JwWfH_NhRUzSGdUk5vBF {
    display: none;
  }
}
.ZiNa5XRqam5hSEszUZdq {
  align-items: center;
  background-color: #fff;
  border: 1px solid #928b80;
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 3;
  height: 32rem;
  justify-content: center;
  margin-top: -2rem;
  padding: 1.6rem;
  position: relative;
  z-index: 1;
}
.MqaiWLuob2E7xS_R1qnM {
  height: 100%;
  overflow-y: auto;
  text-align: left;
  width: 100%;
}
.Up4EtPLBxvnoLD3VyKbm {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 991px) {
  .ZiNa5XRqam5hSEszUZdq {
    grid-column: 1 / span 2;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem;
  }
}
.J8QP9yAWEuX5f188pVJQ {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  left: -1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: -1px;
  width: 1px;
}
@media (min-width: 768px) {
  body .d4KjDt53gHq8PfZIrTcw {
    display: none;
  }
}
@media (max-width: 767px) {
  body .sqPnzqhEf4xZ_L7w6JVJ {
    display: none;
  }
  .trdZB6SldxZcjWp6a8BA {
    overflow-y: hidden;
  }
  .trdZB6SldxZcjWp6a8BA [class*="cdr-modal__dialog"] {
    border-radius: 0.8rem;
    box-shadow: 0 -0.8rem 1.6rem -0.4rem rgba(12, 11, 8, 0.2);
    position: fixed;
    top: 6.4rem;
  }
}
@media (min-width: 768px) {
  .trdZB6SldxZcjWp6a8BA [class*="cdr-modal__dialog"] {
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .trdZB6SldxZcjWp6a8BA [class*="cdr-modal__text-content"] {
    height: 86vh;
    min-height: auto;
  }
  .trdZB6SldxZcjWp6a8BA .QA3AzdHXn7FADDn3KW1n {
    animation: S9walvjY6TGtkAWCyXaU 0.5s linear;
  }
}
@media (max-width: 767px) {
  .trdZB6SldxZcjWp6a8BA .IO7FFPsPIkPzwrmQmub1 {
    animation: uYK8QgBUEK9ivzL4849Q 0.5s linear;
  }
}
@keyframes S9walvjY6TGtkAWCyXaU {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes uYK8QgBUEK9ivzL4849Q {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.trdZB6SldxZcjWp6a8BA li {
  cursor: pointer;
}
.trdZB6SldxZcjWp6a8BA li:hover {
  background-color: #e5f18f;
}
.trdZB6SldxZcjWp6a8BA .rsjggGmlALV0JkHNtMpv {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 2.6rem;
  vertical-align: baseline;
}
.trdZB6SldxZcjWp6a8BA .pH6AVNhWXD85VCRGhjel {
  text-decoration: line-through;
}
.trdZB6SldxZcjWp6a8BA .SyWj7bkT6vde3uaH8IoL {
  font-weight: 700;
}
.trdZB6SldxZcjWp6a8BA .W1mLfoxh7MviZwBY9BVo {
  height: 80vh;
  position: relative;
}
.trdZB6SldxZcjWp6a8BA .X1wI6WB3b39JUvCgD1wq {
  border: none;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
}
.trdZB6SldxZcjWp6a8BA .cDLOfYMX72UZUBK9Gz8A {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 2.6rem;
}
.trdZB6SldxZcjWp6a8BA .Aw3nKrv79i2lAEFlO1zc {
  visibility: visible;
}
.trdZB6SldxZcjWp6a8BA ._GTKYBnNlfbt87X1v0Fy {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30vh;
  width: 100%;
  z-index: 1000;
}
.UP00u_NuL1aPWWG22x3A {
  margin: 0 auto 4.8rem;
  text-align: center;
}
.glg7SPFdaSVEh_WDLsGO {
  font-family: Stuart, Stuart fallback, Georgia, serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 3rem;
  margin-bottom: 1.2rem;
}
.Bh1ZgMEXZZaF9inZuClQ {
  font-family: Graphik, Graphik fallback, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 2.6rem;
  margin: 0 auto 1.6rem;
  max-width: 460px;
}
.EPgt8rpbWYjpyLTpUHop {
  font-weight: 700;
}
@media (min-width: 768px) {
  .DLb813Zt68LtsngXk007 {
    display: none;
  }
}
.GXiZctWYhzhURNXJTQsY {
  border: 0;
  left: -1px;
  position: fixed;
  top: -1px;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
@media (min-width: 768px) {
  body .jiZIHK71Zw1ZzRaWFPkN {
    display: none;
  }
}
@media (max-width: 767px) {
  body .cVb_LSqq71rn0F12O0vp {
    display: none;
  }
}
.SQl1R_4uesMb2NImbkgK {
  grid-gap: 0;
  background: #f4f2ed;
  /* border: 0.8rem solid #f4f2ed; */
  grid-template-columns: 1fr 1fr;
  min-width: 1px;
  width: calc(100% + 4rem);
}
.SQl1R_4uesMb2NImbkgK .Rn8j66IknXYtrLfG84B9,
.SQl1R_4uesMb2NImbkgK .h8vyvHccxxSyfBoH2gsi,
.SQl1R_4uesMb2NImbkgK .kDRuD6N34Zp75E6oezQq,
.SQl1R_4uesMb2NImbkgK .o5Dldet72Fr3hS75rNV7,
.SQl1R_4uesMb2NImbkgK .p9iYaVVWXgNZGQ1XqDx9 {
  display: grid;
  grid-row-end: span 12;
  margin: 0.8rem;
}
.SQl1R_4uesMb2NImbkgK .Rn8j66IknXYtrLfG84B9,
.SQl1R_4uesMb2NImbkgK .h8vyvHccxxSyfBoH2gsi,
.SQl1R_4uesMb2NImbkgK .o5Dldet72Fr3hS75rNV7 {
  grid-column: 1/3;
}
.SQl1R_4uesMb2NImbkgK .o5Dldet72Fr3hS75rNV7 {
  grid-row-start: 49;
}
.SQl1R_4uesMb2NImbkgK .o5Dldet72Fr3hS75rNV7 ~ .h8vyvHccxxSyfBoH2gsi {
  grid-row-start: 157;
}
.SQl1R_4uesMb2NImbkgK .o5Dldet72Fr3hS75rNV7 ~ .Rn8j66IknXYtrLfG84B9 {
  grid-row-start: 109;
}
.SQl1R_4uesMb2NImbkgK
  .o5Dldet72Fr3hS75rNV7
  ~ .Rn8j66IknXYtrLfG84B9
  ~ .p9iYaVVWXgNZGQ1XqDx9 {
  grid-row-start: 145;
}
.SQl1R_4uesMb2NImbkgK
  .o5Dldet72Fr3hS75rNV7
  ~ .Rn8j66IknXYtrLfG84B9
  ~ .h8vyvHccxxSyfBoH2gsi {
  grid-row-start: 181;
}
.SQl1R_4uesMb2NImbkgK .Rn8j66IknXYtrLfG84B9 {
  grid-row-start: 85;
}
.SQl1R_4uesMb2NImbkgK .p9iYaVVWXgNZGQ1XqDx9 {
  grid-column: 2;
  grid-row-start: 121;
}
.SQl1R_4uesMb2NImbkgK .p9iYaVVWXgNZGQ1XqDx9 ~ .h8vyvHccxxSyfBoH2gsi {
  grid-row-start: 157;
}
.SQl1R_4uesMb2NImbkgK .h8vyvHccxxSyfBoH2gsi {
  grid-row-start: 145;
}
.SQl1R_4uesMb2NImbkgK .UXDlt2mNm7eaCHsSNhAp,
.SQl1R_4uesMb2NImbkgK .kDRuD6N34Zp75E6oezQq {
  overflow: hidden;
}
.SQl1R_4uesMb2NImbkgK .UXDlt2mNm7eaCHsSNhAp ~ .o5Dldet72Fr3hS75rNV7,
.SQl1R_4uesMb2NImbkgK .kDRuD6N34Zp75E6oezQq ~ .o5Dldet72Fr3hS75rNV7 {
  grid-row-start: 61;
}
.SQl1R_4uesMb2NImbkgK
  .UXDlt2mNm7eaCHsSNhAp
  ~ .o5Dldet72Fr3hS75rNV7
  ~ .h8vyvHccxxSyfBoH2gsi,
.SQl1R_4uesMb2NImbkgK
  .kDRuD6N34Zp75E6oezQq
  ~ .o5Dldet72Fr3hS75rNV7
  ~ .h8vyvHccxxSyfBoH2gsi {
  grid-row-start: 169;
}
.SQl1R_4uesMb2NImbkgK
  .UXDlt2mNm7eaCHsSNhAp
  ~ .o5Dldet72Fr3hS75rNV7
  ~ .p9iYaVVWXgNZGQ1XqDx9,
.SQl1R_4uesMb2NImbkgK
  .kDRuD6N34Zp75E6oezQq
  ~ .o5Dldet72Fr3hS75rNV7
  ~ .p9iYaVVWXgNZGQ1XqDx9 {
  grid-row-start: 145;
}
.SQl1R_4uesMb2NImbkgK
  .UXDlt2mNm7eaCHsSNhAp
  ~ .o5Dldet72Fr3hS75rNV7
  ~ .p9iYaVVWXgNZGQ1XqDx9
  ~ .h8vyvHccxxSyfBoH2gsi,
.SQl1R_4uesMb2NImbkgK
  .kDRuD6N34Zp75E6oezQq
  ~ .o5Dldet72Fr3hS75rNV7
  ~ .p9iYaVVWXgNZGQ1XqDx9
  ~ .h8vyvHccxxSyfBoH2gsi {
  grid-row-start: 181;
}
.SQl1R_4uesMb2NImbkgK
  .UXDlt2mNm7eaCHsSNhAp
  ~ .o5Dldet72Fr3hS75rNV7
  ~ .Rn8j66IknXYtrLfG84B9,
.SQl1R_4uesMb2NImbkgK
  .kDRuD6N34Zp75E6oezQq
  ~ .o5Dldet72Fr3hS75rNV7
  ~ .Rn8j66IknXYtrLfG84B9 {
  grid-row-start: unset !important;
}
.SQl1R_4uesMb2NImbkgK .UXDlt2mNm7eaCHsSNhAp ~ .Rn8j66IknXYtrLfG84B9,
.SQl1R_4uesMb2NImbkgK .kDRuD6N34Zp75E6oezQq ~ .Rn8j66IknXYtrLfG84B9 {
  grid-row-start: 97;
}
.SQl1R_4uesMb2NImbkgK .UXDlt2mNm7eaCHsSNhAp ~ .h8vyvHccxxSyfBoH2gsi,
.SQl1R_4uesMb2NImbkgK .kDRuD6N34Zp75E6oezQq ~ .h8vyvHccxxSyfBoH2gsi {
  grid-row-start: 169;
}
.SQl1R_4uesMb2NImbkgK .UXDlt2mNm7eaCHsSNhAp ~ .p9iYaVVWXgNZGQ1XqDx9,
.SQl1R_4uesMb2NImbkgK .kDRuD6N34Zp75E6oezQq ~ .p9iYaVVWXgNZGQ1XqDx9 {
  grid-row-start: 133;
}
@media (min-width: 992px) {
  .SQl1R_4uesMb2NImbkgK {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .SQl1R_4uesMb2NImbkgK .h8vyvHccxxSyfBoH2gsi,
  .SQl1R_4uesMb2NImbkgK .o5Dldet72Fr3hS75rNV7 {
    grid-column: 1/3;
    grid-row-start: unset !important;
  }
  .SQl1R_4uesMb2NImbkgK .Rn8j66IknXYtrLfG84B9 {
    grid-column: 1/4;
    grid-row-start: unset !important;
  }
  .SQl1R_4uesMb2NImbkgK .p9iYaVVWXgNZGQ1XqDx9 {
    grid-column: unset !important;
    grid-row-start: unset !important;
  }
}
/*# sourceMappingURL=ProductSearch.cfa00e20b0db147a78d7.css.map*/
